.player__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  padding: 10px;
  border-radius: 10px;
  height: 100%;
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.player-controls-buttens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.play__btn {
  outline: none;
  border: 3px solid var(--color-text);
  background: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  cursor: pointer;
  transition: 0.5s ease;
}

.play__btn:hover {
  border: 3px solid var(--color-active);
  box-shadow: 0 0 3px var(--color-active);
}

.play__btn svg {
  fill: var(--color-text);
  transition: 0.7s ease;
}

.play__btn svg:hover {
  fill: var(--color-active);
}

.player-controls__progress {
  display: flex;
  flex-direction: column;
}

.progress {
  height: 3px;
  width: 300px;
  background-color: var(--color-text);
}

.progress-current {
  height: 100%;
  width: 0%;
  background-color: var(--color-active);
}

.player-list {
  list-style-type: '☀';
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.timeline {
  display: flex;
  justify-content: space-between;
}

.play-list__item {
  cursor: pointer;
}

.play-list__item::marker {
  opacity: 0.6;
}

.play-list__item.active::marker {
  color: var(--color-active);
}

.play-list__item-name {
  text-shadow: 0 0 2px var(--color-shadow);
  padding-left: 5px;
}

.volume-on-off__btn {
  outline: none;
  background: none;
  border: 3px solid var(--color-text);
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.volume-on__svg, .volume-off__svg {
  fill: var(--color-active);
}

.hidden {
  display: none;
}

/* *********************************  */

.controls-volume {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: var(--color-active);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.controls-volume::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 6px;
  background: transparent;
}

.controls-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  border-radius: 3px;
  background: var(--color-active);
  border: 2px solid #fff;
  cursor: pointer;
  margin-top: -7px;
}
