.time-wrapper, .date-wrapper {
  height: 80px;
  line-height: 80px;
}

.time, .date {
  text-shadow: var(--box-shadow);
  transition: all 0.5s ease;
}

.time {
  font-size: 6rem;
}

.date {
  font-size: 2rem;
}