.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
  margin: 10px;
}

.change-qoute__btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.change-qoute__btn svg:hover {
  fill: var(--color-active);
}

.change-qoute__btn svg {
  fill: var(--color-text);
  transition: all 0.3s ease;
}

.quote__text {
  hyphens: auto;
  text-align: justify;
}

.footer-bar {
  display: flex;
  width: 100%;
  padding-inline: 40px;
}

.footer-bar__icon {
  position: relative;
  z-index: 3;
  fill: var(--color-text);
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.footer-bar__icon:hover {
  fill: var(--color-active);
  scale: 1.2;
}

.footer-bar__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 60px;
}

.footer__logo {
  height: 28px;
  cursor: pointer;
  transition: all 0.3s linear;
  margin: 10px;
}

.footer__logo:hover {
  scale: 1.2;
}

@media (max-width: 600px) {
  .footer-bar {
    padding-inline: 10px;
  }

  .footer-bar__info {
    gap: 20px;
  }

  .footer-bar__icon {
    margin: 10px;
  }
}

@media (max-width: 420px) {
  .footer-bar__icon {
    height: 28px;
    width: 28px;
  }

  .footer-bar__info {
    gap: 8px;
  }

  .footer__logo {
    height: 16px;
    margin: 8px;
  }
}