.greeting-wrapper {
  height: 80px;
  line-height: 80px;
}

.greeting-container {
  display: flex;
  width: 100%;
  gap: 20px;
  transition: all 0.5s ease;
}

.greeting__span, .greeting__input {
  font-size: 3rem;
  flex: 1;
  min-width: 0;
  text-shadow: var(--box-shadow);
}

.greeting__span {
  text-align: right;
}

.greeting__input {
  border: none;
  background: transparent;
  outline: none;
  background-clip: text;
  -webkit-text-fill-color: var(--color-text);
}

.greeting__input::placeholder {
  opacity: 0.6;
}

@media(max-width: 810px) {
  .greeting-container {
    gap: 8px;
  }

  .greeting__span, .greeting__input {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .greeting-container {
    gap: 5px;
  }

  .greeting__span, .greeting__input {
    font-size: 1.2rem;
  }
}