.slider-svg {
  position: absolute;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.slider-svg__item {
  top: 50%;
  top: 50%;
  cursor: pointer;
  background: none;
  border: none;
  padding: 8px;
}

.slide-prev {
  left: 20px;
}

.slide-next {
  right: 20px;
}