@import url('./slider.css');
@import url('./date-time.css');
@import url('./greeting.css');
@import url('./audio.css');
@import url('./owfont-regular.css');
@import url('./weather.css');
@import url('./footer.css');
@import url('./modal-settings.css');

@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

:root {
  --color-text: #f8f9fa;
  --color-shadow: #14213d;
  --color-active: #fca311;

  --font-mulish: Mulish, sans-serif;

  --box-shadow: 0 0 3px var(--color-shadow);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-mulish);
  color: var(--color-text);
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  display: none;
}

.overlay.visible {
  display: block;
}
