.weather-wrapper {
  width: 20%;
}

.weather {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px;
  font-family: var(--font-ubuntu);
  transition: all 0.5s ease;
}

.icon-temperature__container {
  display: flex;
  justify-content: space-around;
}

.temperature {
  font-size: 36px;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wind-humidaty__container {
  display: flex;
  gap: 20px;
}

.city {
  font-size: 1.5rem;
  background: transparent;
  outline: none;
  border: none;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-text);
}

.weather-icon {
  font-size: 3rem;
}

.weather-error {
  color: var(--color-active);
}

@media (max-width: 1100px) {
  .weather-wrapper {
    width: 40%;
  }
}

@media (max-width: 810px) {
  .weather{
  font-size: 1rem;
  padding: 0;
  }

  .temperature {
  font-size: 1rem;
  }

  .wind-humidaty__container {
    flex-direction: column;
    gap: 8px;
  }

  .city {
  font-size: 1rem;
}

.weather-icon {
  font-size: 2rem;
}
}